[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = MAGE mono repo
[access "refs/*"]
	owner = group user/Soham Tripathy (Archaic-Mage)
	label-Verified = -1..+1 group user/A-Mage-Bot
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Soham Tripathy (Archaic-Mage)
	label-Verified = -1..+1 group user/Soham Tripathy (Archaic-Mage)
	push = group user/Soham Tripathy (Archaic-Mage)
	read = group user/Soham Tripathy (Archaic-Mage)
	rebase = group user/Soham Tripathy (Archaic-Mage)
	removeReviewer = group user/Soham Tripathy (Archaic-Mage)
	submit = group user/Soham Tripathy (Archaic-Mage)
[access "refs/heads/*"]
	create = group user/Soham Tripathy (Archaic-Mage)
	push = +force group user/Soham Tripathy (Archaic-Mage)
	pushMerge = group user/Soham Tripathy (Archaic-Mage)
	read = group user/Soham Tripathy (Archaic-Mage)
[access "refs/tags/*"]
	push = group user/Soham Tripathy (Archaic-Mage)
	push = +force group user/Soham Tripathy (Archaic-Mage)
