[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
[project]
	description = mage-industries mono repo\n
[access "refs/*"]
	owner = group user/Soham Tripathy (Archaic-Mage)
	label-Clean-Code = -1..+1 group user/A-Mage-Bot
	label-Clean-Code = -1..+1 group user/Soham Tripathy (Archaic-Mage)
	label-Verified = -1..+1 group user/A-Mage-Bot
	label-Verified-Mac = -1..+1 group user/A-Mage-Bot
	label-Verified-Ubuntu = -1..+1 group user/A-Mage-Bot
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Soham Tripathy (Archaic-Mage)
	label-Code-Review = -2..+1 group user/A-Mage-Bot
	label-Verified = -1..+1 group user/A-Mage-Bot
	label-Verified = -1..+1 group user/Soham Tripathy (Archaic-Mage)
	label-Clean-Code = -1..+1 group user/A-Mage-Bot
	label-Clean-Code = -1..+1 group user/Soham Tripathy (Archaic-Mage)
	push = group user/Soham Tripathy (Archaic-Mage)
	read = group user/Soham Tripathy (Archaic-Mage)
	rebase = group user/Soham Tripathy (Archaic-Mage)
	removeReviewer = group user/Soham Tripathy (Archaic-Mage)
	submit = group user/Soham Tripathy (Archaic-Mage)
[access "refs/heads/*"]
	create = group user/Soham Tripathy (Archaic-Mage)
	push = +force group user/Soham Tripathy (Archaic-Mage)
	pushMerge = group user/Soham Tripathy (Archaic-Mage)
	read = group user/Soham Tripathy (Archaic-Mage)
[access "refs/tags/*"]
	push = group user/Soham Tripathy (Archaic-Mage)
	push = +force group user/Soham Tripathy (Archaic-Mage)
[receive]
	requireChangeId = true
[label "Clean-Code"]
	function = NoOp
    	value = -1 Bad Code Style
    	value = 0 No score
    	value = +1 Code Style Okay
	defaultValue = 0
	copyCondition = changekind:NO_CODE_CHANGE
[label "Verified-Mac"]
	function = NoOp
    	value = -1 Fails Mac CI
    	value = 0 No score
    	value = +1 Passes Mac CI
	defaultValue = 0
	copyCondition = changekind:NO_CODE_CHANGE
[label "Verified-Ubuntu"]
	function = NoOp
    	value = -1 Fails Ubuntu CI
    	value = 0 No score
    	value = +1 Passes Ubuntu CI
	defaultValue = 0
	copyCondition = changekind:NO_CODE_CHANGE
[label "Code-Review"]
	function = NoBlock
	value = -2 This shall not be submitted
	value = -1 I would prefer this is not submitted as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
	copyCondition = changekind:NO_CODE_CHANGE
[label "Verified"]
	function = NoBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	defaultValue = 0
	copyCondition = changekind:NO_CODE_CHANGE
[submit-requirement "Code-Review"]
	description = Code-Review approval is required
	applicableIf = -branch:refs/meta/config
	submittableIf = label:Code-Review=MAX AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
[submit-requirement "Verified"]
	description = Change must be verified
	applicableIf = -branch:refs/meta/config
	submittableIf = label:Verified=MAX AND -label:Verified=MIN
	canOverrideInChildProjects = true
[submit-requirement "Clean-Code"]
	description = Clean-Code must be +1
	applicableIf = -branch:refs/meta/config
	submittableIf = label:Clean-Code=MAX
	canOverrideInChildProjects = true
[commentlink "github-issues"]
	match = "(#|MAGE-#)([0-9]+)"
	link = https://github.com/Archaic-Mage/mage/issues/$2
