[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
[project]
	description = mono repo for cpp implementations
[access "refs/*"]
	owner = group user/Soham Tripathy (Archaic-Mage)
	label-Clean-Code = -1..+1 group user/A-Mage-Bot
	label-Clean-Code = -1..+1 group user/Soham Tripathy (Archaic-Mage)
	label-Verified = -1..+1 group user/A-Mage-Bot
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Soham Tripathy (Archaic-Mage)
	label-Code-Review = -2..+1 group user/A-Mage-Bot
	label-Verified = -1..+1 group user/A-Mage-Bot
	label-Verified = -1..+1 group user/Soham Tripathy (Archaic-Mage)
	label-Clean-Code = -1..+1 group user/A-Mage-Bot
	label-Clean-Code = -1..+1 group user/Soham Tripathy (Archaic-Mage)
	push = group user/Soham Tripathy (Archaic-Mage)
	read = group user/Soham Tripathy (Archaic-Mage)
	rebase = group user/Soham Tripathy (Archaic-Mage)
	removeReviewer = group user/Soham Tripathy (Archaic-Mage)
	submit = group user/Soham Tripathy (Archaic-Mage)
[access "refs/heads/*"]
	create = group user/Soham Tripathy (Archaic-Mage)
	push = +force group user/Soham Tripathy (Archaic-Mage)
	pushMerge = group user/Soham Tripathy (Archaic-Mage)
	read = group user/Soham Tripathy (Archaic-Mage)
[access "refs/tags/*"]
	push = group user/Soham Tripathy (Archaic-Mage)
	push = +force group user/Soham Tripathy (Archaic-Mage)
[receive]
	requireChangeId = true
[label "Clean-Code"]
    	function = NoOp
    	value = -1 Bad Code Style
    	value = 0 No score
    	value = +1 Code Style Okay
	defaultValue = 0
[submit-requirement "Clean-Code"]
	description = Clean-Code must be +1
	applicableIf = -branch:refs/meta/config
	submittableIf = label:Clean-Code=MAX
	canOverrideInChildProjects = true
